---
import ServicesCard from "./Services_card.astro";

function randomNumber(min, max) {
  return Math.floor(Math.random() * (max - min + 1)) + min;
}

// const unprocecedCards = [
const cards = [
{
    name:"Individual Presentation Coaching",
    image:"services-1.png",
    description:"Personalized coaching to boost presentation skills, confidence, and clarity",
    price:"150000",
    cardx: "15px",
    cardy: "41px",
    mag1x: "13px",
    mag1y: "-49px",
    mag2x: "13px",
    mag2y: "-35px"

},
{
    name:"Public Speaking Group Workshop",
    image:"services-2.png",
    description:"Group workshops for improving public speaking with practice and feedback",
    price:"300000",
    cardx: "-35px",
    cardy: "75px",
    mag1x: "-30px",
    mag1y: "-44px",
    mag2x: "-13px",
    mag2y: "-15px"

},
{
    name:"Virtual Presentation Skills Training",
    image:"services-3.png",
    description:"Training on delivering virtual presentations with tech use and engaging audiences",
    price:"120000",
    cardx: "-50px",
    cardy: "0",
    mag1x: "-52px",
    mag1y: "",
    mag2x: "-35px",
    mag2y: ""

},
{
    name:"Storytelling in Business Presentations",
    image:"services-4.png",
    description:"Session on using storytelling in business presentations for impact.",
    price:"200000",
    cardx: "",
    cardy: "",
    mag1x: "",
    mag1y: "",
    mag2x: "",
    mag2y: ""

},
{
    name:"Presentation Design Consultation",
    image:"services-5.png",
    description:"Advice on creating effective slides and visuals to boost your message.",
    price:"100000",
    cardx: "",
    cardy: "",
    mag1x: "",
    mag1y: "",
    mag2x: "",
    mag2y: ""

},
{
    name:"Intensive Public Speaking Bootcamp",
    image:"services-6.png",
    description:"Intensive training on all aspects of public speaking, from prep to delivery.",
    price:"1000000",
    cardx: "",
    cardy: "",
    mag1x: "",
    mag1y: "",
    mag2x: "",
    mag2y: ""

}
]

// const cards = unprocecedCards.map(card => {
//   card.cardx = `${randomNumber(-70, 20)}px`
//   card.cardy = `${randomNumber(-20, 70)}px`
//   card.mag1x = `${randomNumber(-20, 20)}px`;
//   card.mag1y = `${randomNumber(-20, 20)}px`;
//   card.mag2x = `${randomNumber(-20, 20)}px`;
//   card.mag2y = `${randomNumber(-20, 20)}px`;
//   return card
// })


---

<section id="services">
  {cards.map((card, idx) => (
    <ServicesCard 
    key=`ServicesCardID-${idx}`
    id=`ServicesCardID-${idx}`
    name={card.name}
    image={card.image}
    description={card.description}
    price={card.price}
    cardx={card.cardx},
    cardy={card.cardy},
    mag1x={card.mag1x},
    mag1y={card.mag1y},
    mag2x={card.mag2x},
    mag2y={card.mag2y},
        />
  ))}
  <img id="chalkboard-border-top" src="chalkboard-border-top.svg" alt="">
  <img id="chalkboard-border-bottom" src="chalkboard-border-bottom.svg" alt="">
  <img id="chalkboard-border-right" src="chalkboard-border-right.svg" alt="">
  <img id="chalkboard-border-left" src="chalkboard-border-left.svg" alt="">

</section>



<style>
  #services {
    position: relative;
    width: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* flex-wrap: wrap;
    justify-content: space-around; */
    background-image: url(/blackboard-bg.png);
    background-repeat: repeat;
    background-size: 30%;
  }

  #chalkboard-border-top {
    position: absolute;
    top:0;
    width: 100%;
    height: 40px;
    background-image: url(/chalkboard-border-top.svg);
  }
  #chalkboard-border-right {
    position: absolute;
    right: 0;
    width: 40px;
    height: 100%;
    background-image: url(/chalkboard-border-right.svg);
  }
  #chalkboard-border-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    background-image: url(/chalkboard-border-bottom.svg);
  }
  #chalkboard-border-left {
    position: absolute;
    left: 0;
    width: 40px;
    height: 100%;
    background-image: url(/chalkboard-border-left.svg);
  }
</style>
