---
const {
  name,
  image,
  description,
  price,
  id,
  cardx,
  cardy,
  mag1x,
  mag1y,
  mag2x,
  mag2y,
  key,
} = Astro.props;

function formatNumber(x) {
  return new Intl.NumberFormat("en-US").format(x);
}

const formattedPrice = formatNumber(price);
console.log(name, image, cardx, mag1y);
---

<div class="service-card" id={id}>
  <div id="mag-holder">
    <div id="mag1" class="mag"></div>
    <div id="mag2" class="mag"></div>
  </div>
  <div class="card-content">
    <h3 class="service-name">{name}</h3>
    <div class="service-body">
      <img src={image} alt={name} class="service-image" />
      <p class="service-description">{description}</p>
    </div>
    <p class="service-price">₩{formattedPrice}</p>
  </div>
</div>

<style define:vars={{ mag1x, mag1y, mag2x, mag2y, cardx, cardy }}>
  .service-card {
    font-family: "Urbanist", sans-serif;
    background-color: white; /* Paper color */
    color: var(--black);
    border: 8px solid var(--red); /* For the neo-brutalist effect */
    position: relative;
    margin: 50px;
    width: 400px; /* Adjust as needed */
    transform-origin: left top;
    border-radius: 25px;
    left: var(--cardx);
    top: var(--cardy);
  }

  .service-name {
    color: var(--yellow); /* Adjust colors as needed */
    font-size: 1.5rem;
    margin-left: 40px;
    margin-bottom: 25px;
    font-weight: 700;
  }

  .card-content {
    padding: 15px;
  }

  #mag-holder {
    position: absolute;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .mag {
    position: absolute;
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 5px solid var(--yellow);
    box-shadow: 4px 4px 8px 0 var(--black);
    background-color: white;
  }

  #mag1 {
    left: var(--mag1x);
    top: var(--mag1y);
  }

  #mag2 {
    right: var(--mag2x);
    bottom: var(--mag2y);
  }

  .service-body {
    display: flex;
    gap: 30px;
  }

  .service-image {
    width: 120px; /* Adjust as needed */
    height: 120px; /* Keep aspect ratio */
    border-radius: 25px;
    box-shadow: 12px 12px 0 0 var(--orange);
  }

  .service-description {
    font-family: "Josefin Sans", sans-serif;
    border-radius: 25px;
    box-shadow: 12px -12px 0 0 var(--black);
    flex-grow: 1;
    padding: 10px 10px 10px 15px;
    background-color: var(--beige);
    font-size: 1rem;
  }

  .service-price {
    color: var(--yellow);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 25px;
  }

  /* Responsive design */
  @media (min-width: 768px) {
    .service-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* 3 cards in a row */
      gap: 20px;
    }
  }

  @media (max-width: 767px) {
    .service-container {
      display: flex;
      flex-direction: column;
    }
    .service-card {
      width: 100%; /* Full width for mobile */
    }
  }
</style>
